<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="uss-title">
    Welcome to {{title}}!
  </div>
</div>
<div class="uss-content">
    <table class="uss-table">
      <tr>
        <th class="uss-head">Year</th>
        <th class="uss-head">Title</th>
        <th class="uss-head">Description</th>
      </tr>
      <tr *ngFor="let dataset of datasets" class="uss-row">
          <td class="uss-cell">{{dataset.year}}</td>
          <td class="uss-cell">{{dataset.title}}</td>
          <td class="uss-cell">{{dataset.description}}</td>
      </tr>
    </table>
</div>
