<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="uss-title">
    Welcome to {{title}}!
  </div>
</div>
<div class="uss-content">
    <table class="uss-table">
      <tr>
        <th class="uss-head">Index</th>
        <th class="uss-head">User Name</th>
        <th class="uss-head">Password</th>
      </tr>
      <tr *ngFor="let item of items; let i=index" class="uss-row">
          <td class="uss-cell">{{i}} </td>
          <td class="uss-cell">{{item.name}}</td>
          <td class="uss-cell">{{item.password}}</td>
      </tr>
    </table>
</div>
