<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="uss-title">
    Welcome to {{title}}!
  </div>
</div>

<div class="uss-content" id="wrapper" [ngSwitch] = "activeComponent">
            <div id="dataset-list" *ngSwitchCase="0">
                <p class="ds-label heading">List of datasets:</p>
                <div *ngFor="let dataset of datasets" class="dataset"
                     (click)="updateDetails(dataset)">
                    <div>{{dataset['title']}}</div>
                </div>
            </div>
            <div id="dataset-detail" *ngSwitchCase="1">
                <div>
                    <span class="ds-label heading">Variables:</span>
                    <span class="ds-link">{{fullDataURL}}</span>
                    <span class="ds-back-button ds-button" (click)="focusOnDatasets()">Back</span>
                </div>
                <div *ngIf="variables && (variables.length > 0)">
                    <div *ngFor="let v of variables">
                        <div>
                           <!-- <input type="checkbox" checked="{{v['selected'] ? 'checked' : ''}}"/>-->
                             <input type="checkbox" [checked]="v['selected']" (change)="v['selected'] = !v['selected']" />
                            <span class="ds-label">{{v['name']}}</span> ({{v['label']}})
                            <input [value]="v.filter" (input)="v.filter = $event.target.value"/>
                            <span style="color: darkblue; text-transform: capitalize;">{{v['predicateType'] ? v['predicateType'] : 'undef'}}</span>
                            <span class="{{v.requiredClass}}">{{v['required'] ? 'REQ' : 'OPT'}}</span>
                        </div>
                    </div>
                    <div class="ds-label" *ngIf="selectedDataset != null">
                        <a href="{{getFullDataLink(selectedDataset)}}">Data for current filters</a>
                        <div class="ds-button" (click)="bringData()">Fetch data</div>
                    </div>
                    <div class="ds-label" *ngIf="selectedDataset != null">
                       <div *ngFor="let geo of geographies">
                           <span class="ds-label">Name:</span>
                           <span class="ds-value">{{geo['name']}}</span>
                           <span class="ds-label">Requires:</span>
                           <span class="ds-value">{{geo['requires']}}</span>
                       </div>
                    </div>
                </div>
                <div *ngIf="data && (data.length > 0)">
                    <table class="uss-table">
                        <tr>
                            <th class="uss-head" *ngFor="let head of data[0]">
                                {{head}}
                            </th>
                        </tr>
                        <tr class="uss-row" *ngFor="let row of data.slice(1)">
                            <td class="uss-cell" *ngFor="let cell of row">
                                {{cell}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="loading" style="display: none;">Loading. Please wait...</div>
</div>
